<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.BoardDao">

    <select id="boardList" resultType="Board">
        SELECT bdSeq
             , bdWriter
             , bdTitle
             , bdContents
             , bdCreateDate
          FROM board
    </select>

    <insert id="boardInsert">
        INSERT INTO board ( bdWriter
                          , bdTitle
                          , bdContents
                          )
                   VALUES ( #{bdWriter}
                          , #{bdTitle}
                          , #{bdContents}
                          )
        <selectKey keyProperty="bdSeq" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="boardDelete" parameterType="Board">
        DELETE
          FROM board
         WHERE bdSeq = #{bdSeq}
    </delete>

    <update id="boardUpdate" parameterType="Board">
        UPDATE board
           SET bdWriter = #{bdWriter}
             , bdTitle = #{bdTitle}
             , bdContents = #{bdContents}
         WHERE bdSeq = #{bdSeq}
    </update>

    <select id="boardSelectOne" resultType="Board" parameterType="Board">
        SELECT bdSeq
             , bdWriter
             , bdTitle
             , bdContents
             , bdCreateDate
          FROM board
         WHERE bdSeq = #{bdSeq}
    </select>
</mapper>


