<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.BoardDao">

    <select id="selectList" resultType="Board">
        SELECT
            bdSeq
            ,bdWriter
            ,bdTitle
            ,bdContents
            ,bdCreateDate
        FROM board
    </select>

    <insert id="insert">
        INSERT INTO board (
            bdWriter
            ,bdTitle
            ,bdContents
        )
        VALUES (
            #{bdWriter}
            ,#{bdTitle}
            ,#{bdContents}
        )
        <selectKey keyProperty="bdSeq" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="delete" parameterType="Board">
        DELETE
        FROM board
        WHERE bdSeq = #{bdSeq}
    </delete>

    <select id="selectOne" resultType="Board" parameterType="Board">
        SELECT
            bdSeq
            ,bdWriter
            ,bdTitle
            ,bdContents
            ,bdCreateDate
        FROM board
        WHERE bdSeq = #{bdSeq}

    </select>

    <update id="update" parameterType="Board">
        UPDATE board
        SET
            bdWriter = #{bdWriter}
            ,bdTitle = #{bdTitle}
            ,bdContents = #{bdContents}
        WHERE bdSeq = #{bdSeq}
    </update>

    <select id="selectOneForTitle" resultType="Board">
        SELECT
            bdSeq
            ,bdWriter
            ,bdTitle
            ,bdContents
            ,bdCreateDate
        FROM board
        WHERE 1=1
            <choose>
<!--                <when test="#{bdTitle} != null">-->
<!--                    AND bdTitle LIKE CONCAT ('%', #{bdTitle}, '%')-->
<!--                </when>-->
                <when test="#{month} != null">
                    AND bdCreateDate BETWEEN '2023-'#{month}'-01' AND '2023-'#{month}'-31'
                </when>
            </choose>
    </select>

</mapper>


