<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.CommentsDao">
<!--    <resultMap id="Comments" type="com.example.demo.dto.Comments"></resultMap>-->

    <select id="commentsList" resultType="Comments">
        SELECT
            *
        FROM comments
    </select>

    <insert id="commentsInst" parameterType="Comments">
        INSERT INTO comments (
             cm_mmSeq
             ,cmContents
        )
        VALUES (
            #{cm_mmSeq}
            ,#{cmContents}
        )
    </insert>

</mapper>
